.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.container > * {
  width: 100%;
}

.container > h1 {
  font-size: 1.5em;
  line-height: 0.8;
}

.container > form {
  display: flex;
  gap: 1em;
}

.container > form > label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container > form > input {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.container > form > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.container > form > button:hover {
  border-color: #646cff;
}
.container > form > button:focus,
.container > form > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* The CSS in BookForm.module.css is scoped to the BookForm component. */
/* This means that the styles in BookForm.module.css will only apply to the BookForm component. */
